@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* style2.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 600;
}

body {
    background: #f2f2f2;
}

.container {
    width: 1440px;
    margin: 0 auto;
}



.header {
    height: 80px;
    background: #31fc96;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 25px;
    margin-top: 5px;
    box-shadow: lightgray 1px 1px 5px;
    border: 1px solid #8d8d8d;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 40px;
}

.nav {
    display: flex;
    gap: 30px;
}


.nav a,
.header-right a {
    text-decoration: none;
    color: #000;
}

.header-right {
    display: flex;
    gap: 20px;
}





.layout {
    display: grid;
    grid-template-columns: 220px 806px 1fr;
    gap: 30px;
    margin-top: 30px;
}





.sidebar {
    background: #e0e0e0;
    height: 770px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    border-radius: 25px;
    box-shadow: lightgray 1px 1px 5px;
    border: 1px solid #8d8d8d;
}

.sidebar a {
    text-decoration: none;
    color: #000;
}





.content h2 {
    margin-bottom: 20px;
}





/* СЛАЙДЕР */

.slider {
    position: relative;
}

.slider-window {
    width: 806px;
    overflow: hidden;
}

.slider-track {
    display: flex;
    gap: 20px;
    transition: 0.4s;
}

.card {
    min-width: 180px;
    height: 260px;
    background: #f7f7f7;
    border-radius: 18px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}
.card span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
.card p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.card span {
    font-size: 15px;
    font-weight: 700;
}


/* кнопки */

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 15px rgba(0,0,0,0.15);

    z-index: 10; /* ВАЖНО */
    transition: 0.2s ease;
}

/* Позиции */
.prev {
    left: -22px; /* половина ширины кнопки */
}

.next {
    right: -22px;
}

.prev:hover,
.next:hover {
    background: #34d17a;
    color: white;
}

/* Нажатие */
.prev:active,
.next:active {
    transform: translateY(-50%) scale(0.95);
}
    

.announcement {
    height: 50px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: lightgray 1px 1px 5px;
    border: 1px solid #8d8d8d;
}

.category {
    height: 160px;
    background: #cfcfcf;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-weight: 600;
    border-radius: 25px;
    box-shadow: lightgray 1px 1px 5px;
    border: 1px solid #8d8d8d;
    margin-top:50px;
    
}





.rightbar {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.address {
    height: 100px;
    background: #d9d9d9;
    padding-left: 30px;
    padding-top: 20px;
    border-radius: 25px;
    box-shadow: lightgray 1px 1px 5px;
    border: 1px solid #8d8d8d;
}

.cart {
    height: 500px;
    background: #cfcfcf;
    padding-left: 30px;
    padding-top: 20px;
    border-radius: 25px;
    box-shadow: lightgray 1px 1px 5px;
    border: 1px solid #8d8d8d;
}

.downhref{
    margin-bottom: 45px;
}

.uphref{
    margin-top: 10px;
}

/* ЗАТЕМНЕНИЕ */

.catalog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: none;
    align-items: flex-start;
    justify-content: center;
    padding-top: 100px;
    z-index: 999;
}

/* ОСНОВНОЙ БЛОК */

.catalog {
    width: 1100px;
    height: 600px;
    background: white;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
}

/* Левое менюю */

.catalog-left {
    width: 260px;
    background: #f5f5f5;
    padding: 20px;
}

.catalog-menu {
    margin-top: 20px;
}

.cat-item {
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

.cat-item:hover {
    background: #e0e0e0;
}

.cat-item.active {
    background: #34d17a;
    color: white;
}

/* праваая часть */

.catalog-right {
    flex: 1;
    padding: 30px;
}

.catalog-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
